/* html{
    height:1000px;
    width: 1000px;
} */



  /* body{
    background-image: url('src/app/todo/img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    width: 1000px;
    display: flex;
    margin: 0 auto;
}  */
